<form id="contact_form" ng-submit="submitForm()">
	<input id="contact_name" type="text" placeholder="Name" ng-model="msg.name">
	<input id="contact_email" type="text" placeholder="Email*" ng-model="msg.email" required>

	<textarea id="contact_hear" type="text" cols="15" rows="3" ng-model="msg.message" placeholder="Message"></textarea>


	<!--<p>* Campos obligatorios</p>-->
	<button id="contact_button_send">{{btntxt}}</button>
</form>
<div id="message">Thank you for your message. <br><br> We’ll be in touch soon!</div>