footer{
		span[screen-detector]{
			display: block;
			position: relative;			
		}
		$footer_height : 287px;
		width: 100%;
		clear: both;
		background-color: $primary-blue;
		position: relative;
		@media (min-width: $tabletV) {
			height: $footer_height ;
		}
		a{
			font-family: $font-Sabon;
			width: 100%;
			height: 70%;
			right: 0;
			color: white;
			text-align: center;
			font-size: 24px;
			line-height: 38px;
			@include transition(all $transition_btn_ekd);
			@media (min-width: $tabletV) {
				width: 50%;
				height: 100%; 
				position: absolute;
				border-left: 1px solid $grey-0;
				&:hover{
					background-color: white;
					color: $primary-blue;
					text-decoration: none;
				}
			}
			p{
				padding: 50px;
				margin: 0;
				@media (min-width: $tabletV) { 
					position: absolute;
					width: 75%;
					top: 50%;
					left: 50%;
					@include transform(translate(-50%, -50%));
				}
			}
		}
		a[ng-show]{
			p{
				border-bottom: 1px solid white; 
				@media (min-width: $tabletV) { border: 0px solid transparent;}
			}
			@media (min-width: $tabletV) { left: 0px; border: 0px solid transparent;}
		}
		section.mobile{
			background-color: $primary-blue;
			border-top: 1px solid $grey-0;
			color: white;
			font-family: $font-Calibre;
			clear: both;
			@media (min-width: $tabletV) { display:none; }
			figure:first-child{
    			padding: 40px 25px;
    			div{
    				float: right;
    				width: 20%;
    				text-align: right;
    				margin-top: -15px;
    				svg{
     					@include transform(rotate(180deg));   					
    				}
    				span{
    					display: block;
    				}

    			}
    			img{
    				width: 40px;
    			}
			}
		}
		section.desktop{
			display:none;
			background-color: $primary-blue;
			color: white;
			font-family: $font-Calibre;
			font-size: 18px;
			line-height: 20px;
			@media (min-width: $tabletV) { 
				display:block; 
			}
			article{
				float: left;
				position: relative;
				top:  $footer_height / 2;
				margin-left: 70px;
				@media (max-width: $tabletV + 200) {  			
					width: 51%;
					top: 70px;
					margin-left: 6%;
					padding-bottom: 50px;
				}
				@media (max-width: $desktop) {  			
					font-size: 14px;
					line-height: 16px;
					margin-left: 5%;
				}
			}
		}
		div[ng-show="isProject"]{
			@media (max-width: $tabletV) {  			
				p{
					width: 50%;
					float: left;
					border-bottom: 0px solid transparent;
				}
				a[ng-show]{
					p{
						//border-right: 1px solid
					}
				}
			}
		}
	}