<section id="home-section-1" header-changer  value="Welcome">
	<div full-screen>
	<div screen-detector value="up">
		<ng-video link="{{videohome1}}" play="screen" loop="true" controls="false" img="/assets/img/home1.jpg"></ng-video>
		<h1>We are Elkanodata,<br> a global information design <br> agency based in Barcelona<arrow-svg></arrow-svg>
		</h1>
	</div>
	</div>
	<article>
		<h2 screen-detector value="up" >We partner with our clients to craft world <br> class visual experiences that convey information in <br> engaging, beautiful and insightful ways.</h2>
		<figure screen-detector value="up" delay="0.2"><img src="/assets/img/logo.png"></figure>
		<p screen-detector value="up" delay="0.3" class="btn-ekd">
			<a ng-href="/about" class="btn button ajax">
				Learn More
				<span></span>
				<span class="mobile"></span>
				<span></span>
			</a>
		</p>
	</article>
</section>

<section id="home-section-2" id="home-section-1" header-changer  value="Work">
	<a screen-detector delay="0.5" class="col-xs-12 col-sm-6" ng-class="item1.color" ng-href="/work/case-study/{{item1.slug}}">
		<div  class="img" style="background-image: url({{item1.img}});"></div>
		<article>
			<h4>{{item1.title}}</h4>
			<h6>{{item1.subtitle}}</h6>
		</article>
	</a>
	<a screen-detector delay="0.5" class="col-xs-12 col-sm-6" ng-class="item2.color" ng-href="/work/case-study/{{item2.slug}}">
		<div  class="img" style="background-image: url({{item2.img}});"></div>
		<article>
			<h4>{{item2.title}}</h4>
			<h6>{{item2.subtitle}}</h6>
		</article>
	</a>
	<a screen-detector delay="0.5" class="col-xs-12 col-sm-6" ng-class="item3.color" ng-href="/work/project/{{item3.slug}}">
		<div  class="img" style="background-image: url({{item3.img}});"></div>
		<article>
			<h4>{{item3.title}}</h4>
			<h6>{{item3.subtitle}}</h6>
		</article>
	</a>
	<article class="view-more" >
		<p class="btn-ekd" screen-detector value="up">
			<a href="/work" class="btn button ajax">
				View all projects
				<span></span>
				<span class="mobile"></span>
				<span></span>
			</a>
		</p>
	</article>
</section>

<section id="home-section-3" header-changer  value="Client">
	<h3  screen-detector value="up" >Our clients are innovative brands, thought leaders and international organizations who believe that quality relationships bring quality results.</h3>
	<article>
		<ul  screen-detector value="up" delay="0.2">
			<li ng-repeat="logo in client_logos"><img src="{{logo}}"></li>
		</ul>
	</article>
	<article ng-repeat='(i, cite) in cites' state="{{i}}" screen-detector value="up" delay="0.4">
		<cite>{{cite.cite}}</cite>
		<hr>
		<p><strong>{{cite.name}}</strong></p>
		<p>{{cite.job}}</p>
	</article>
</section>

<section id="home-section-4" header-changer  value="Press">
	<h3 screen-detector value="up" delay="0">Press & Awards</h3>
	<article>
		<ul screen-detector value="up" delay="0.2">
			<li ng-repeat="logo in press_logos"><img src="{{logo}}"></li>
		</ul>
	</article>
</section>

<footer ng-footer></footer>
