<div header-changer  value="Work">
	<!--<section id="work-section-1">
		<div class='title' screen-detector value="up">
			<h1>Quality relationships <br>bring quality results.</h1>
		</div>	
	</section>-->

	<section id="work-section-2">
		<a screen-detector class="col-xs-12 col-sm-6" ng-repeat="case in cases" ng-href="/work/case-study/{{case.slug}}">
			<div class="img" ng-style="{'background-image': 'url('+case.img+')'}"></div>
			<div class="content" ng-class="case.color">
				<h6>{{case.subtitle}}</h6>
				<h4>{{case.title}}</h4>
			</div>
		</a>
	</section>

	<section id="work-section-3">
		<div class="projects">
			<a screen-detector class="project col-xs-12 col-sm-6" ng-repeat="project in projects" ng-href="/work/project/{{project.slug}}">
				<div class="img" ng-style="{'background-image': 'url('+project.img+')'}"></div>
				<div class="content" ng-class="project.color">
					<h6>{{project.subtitle}}</h6>
					<h4>{{project.title}}</h4>
				</div>
			</a>
			<div style="clear:both;"></div>
		</div>
	</section>
</div>
<footer ng-footer></footer>
