app-case-study{
	section#case-study-section-1{
		div[full-screen]{
			position: relative;
			div{
				background-size: cover;
				background-position: center;
				height: 100%;
				width: 100%;
				article{
					position: absolute;
					bottom: $margin-mobile-H;
					left: $margin-mobile-H;
					.white{
						color: white;
					}
					p{
						margin: 0;
					}
					h2{
						margin: 0;
						@media (max-width: $tabletV){
							font-size: 20px;
							line-height: 24px;
						}
					}
				}			
			}
		}	
	}
	section#case-study-section-2{
		text-align: center;
		div.btn-ekd{
			font-family: $font-Calibre;
			padding: $margin-mobile-H*1.5 0;
			margin: 0;
			@extend .btn-blue-2;
			@media (min-width: $tabletV) { padding: 50px 0px; }
		}
		div.content{
			margin: auto;
			margin: 40px;
			padding-bottom: 50px;
			h2{
				margin-top: 0px;
				margin-bottom: 40px;
			}
			p{
				margin: auto;
				margin-top: 15px;
				text-align: left;
				padding: $margin-mobile-H 0;
				font-size: 20px;
				line-height: 24px;
				@media (min-width: $tabletV) { width: 50%; padding: 0; }				
			}

		}
	}
	section#case-study-section-3{
		article{
			font-family: $font-Sabon;
			background-color: $primary-blue;
			padding:50px $margin-mobile-H ;
			color: white;
			@media (min-width: $tabletV) {text-align: center; padding: $margin-mobile-H;};
			cite{
				font-style: normal !important;
				display: block;
				font-size: 26px;
				line-height: 30px;
				@media (min-width: $tabletV) { font-size: 40px; line-height: 54px; width: 70%; margin: auto; }
			}
			p{
				font-family: $font-Calibre;
				margin-top: 30px;
				font-size: 18px;
				@media (min-width: $tabletV) { margin-top: 50px; }
			}
		}
	}
	section#case-study-section-4{
		background-color: $grey-0;
		article{
			padding: 0;
			margin: 0;
			font-family: $font-Sabon;
			//@media (min-width: $tabletV) { padding: $margin-mobile-H; }
			div:last-child{
				clear: both;
			}
			h2{
    			margin: 70px 0;
    			padding: 0px $margin-mobile-H;
				@media (min-width: $tabletV) {
					margin: 0;
					padding:0;			
				}
			}
			div.project{
				position: relative;
				overflow: hidden;
				//cursor: pointer;
				padding: 0;
				padding-bottom: 56%;
				height: 0px; 
				display: block;
				iframe{
					position: absolute;
				    width: 100%;
				    height: 100%;
				}
				.white{
					color: white;
				}			
				div.img{
					position: absolute;
    				width: 100%;
    				height: 100%;
    				background-size: cover;
    				background-position: center;
					@include transition(transform 6s ease-in-out);
				}
				div.content{
					position: absolute;
					bottom: 50%;
					pointer-events: none;
					@include transform(translateY(50%));
					@media (min-width: $tabletV) {
						transform: none;
						bottom: $margin-mobile-H;
						left: $margin-mobile-H;
					}
					h3{
						margin: 0;
						line-height: 40px;
						span{
							font-family: $font-Calibre;
							font-size: 18px;
						}
					}
					p{
						font-size: 12px;
						@media (min-width: $tabletV) { font-size: 18px;}
					}
				}
			}
		}
			article.project-content{
				div.content{
					padding: $margin-mobile-H;
					div.images{
						padding: 0;
						@media (min-width: $tabletV) { width: 40%;}
						img{
							width: 100%;
							height: auto;
							position: absolute;
						    top: 50%;
						    left: 50%;
						    @include transform(translate(-50%,-50%));
						}	
						iframe{width: 100%;height: 100%;position: absolute;}
						div[ng-repeat]{
							//height: 52vw;
						    overflow: hidden;
						    margin: 30px 0px;
						    position: relative;
						   // @media (min-width: $tabletV) {height: 20vw;}
						   height: 0px !important;
						   padding-bottom: 63%;
						   ng-video{
						   	@media  (min-width: $tabletV){
						   		position: absolute;
						   	}
						   	#background-mobile{
						   		margin: 0;
						   	}
						   }	
						}
					}
					div.information{
						 padding: 0;
						h3{
							padding: 0; margin: 0;
							@media (min-width: $tabletV) { margin-top: 0; margin-bottom: 5px;}
						}
		    			h6{
			    			font-size: 18px;
			    			line-height: 22px;
			    			margin: 0;
		    			}
						p{
							margin: 30px 0;
							//@media (min-width: $tabletV) { padding-right: $margin-mobile-H; }
						}
						h6, p{
							font-family: $font-Calibre;
							font-size: 20px;
							line-height: 24px;
						}
						div.btn-ekd{
							font-family: $font-Calibre;
							padding-bottom: $margin-mobile-H*1.5;
							margin: 0;
							@extend .btn-blue-2;
							@media (min-width: $tabletV) { padding: 0px; }
						}
					}
					.clear{clear: both;}			
				}

				div.img{
					width: 100%;
					height: 210px;
					background-size: cover;
					background-position: center center;
					@media (min-width: $tabletV) {
						height: 80vh;
					}
				}
			}
	}
	section#case-study-section-5{
		text-align: center;
		article{
			padding: $margin-mobile-H;
			margin: 0;
			@media (min-width: $tabletV) { padding: $margin-mobile-H; }
			h3{font-family: $font-Sabon;}
			p{
				margin-top: 20px;
				text-align:left;
				font-size: 20px; 
				line-height: 24px;
				@media (min-width: $tabletV) { 
					width: 100%;
					margin: auto; 
					font-size: 20px; 
					line-height: 24px;
					margin-top: 20px;
				}
				@media (min-width: $tabletH) { 
					width: 60%;
				}

			}
			div.twice-img{
				padding: 0px;
				background-color: $grey-f;
				@media (min-width: $tabletV) {padding: $margin-mobile-H;}
				img{
					height: auto;
					width: 100%;
					background-size: cover;
					background-position: center;
					margin-top: 30px;
					@media (min-width: $tabletV) {width: 50% - ($margin-mobile-H/3); margin-top:0;}
					&:last-child{
						@media (min-width: $tabletV) {float: right;}
					}
				}

			}
		}
		@media (min-width: $tabletV) {
			article:first-child{
				padding-bottom: 0;
			}
			article:last-child{
				padding-top: 0;
			}
		}
	}
	section#case-study-section-6{
		article[ng-repeat]{
			div.img-important{
				    overflow: hidden;
				position: relative;
				width: 100%;
				height: 0px;
				padding-bottom: 56%;
				ng-video{
					@media  (min-width: $tabletV){
						position: absolute;
						width: 100%;
						height: 100%;
					}
					#background-mobile{
						margin: 0;
					}
				}	
				/*height: 51vw;
				@media (min-width: 1400px) {
					height: 53.5vw;
				}
				@media (min-width: 1000px) and (max-width: 1400px){
					height: 52.5vw;
				}
				@media (max-width: 1000px){
					height: 51vw;
				}
				@media (max-width: $tabletV){
					height: 55vw;
				}
				video{
					position: absolute;
				}*/

				iframe{
					width: 100%;
					height: 100%;
					position: absolute;
				}
				img{
					object-fit: cover;
				    object-position: center;
				    width: 100%;
				}
			}
			div.content{
				padding: $margin-mobile-H;
				div.images{
					padding: 0;
					img{
						width: 100%;
						height: auto;
						position: absolute;
					    top: 50%;
					    left: 50%;
					    @include transform(translate(-50%,-50%));
					}	
					div[ng-repeat]{
							//height: 52vw;
						    overflow: hidden;
						    margin: 30px 0px;
						    position: relative;
						   // @media (min-width: $tabletV) {height: 20vw;}
						   height: 0px !important;
						   padding-bottom: 63%;
						   ng-video{
						   	@media  (min-width: $tabletV){
						   		position: absolute;
						   	}
						   	#background-mobile{
						   		margin: 0;
						   	}
						   }					
					}

					iframe{
						position: absolute;
					}
					iframe, object, embed { 
					    width: 100%;
					    height: 100%;
					}	
				}
				div.information{
					 padding: 0;
					//@media (min-width: $tabletV) { width: 50%;}
					h3{
						@media (min-width: $tabletV) { margin-top: 0; margin-bottom: 5px;}
					}
	    			h6{
		    			line-height: 22px;
		    			margin: 0;
	    			}
					p{
						margin: 30px 0;
					}
					h6, p{
						font-family: $font-Calibre;
						font-size: 20px;
						line-height: 24px;
					}
					div.btn-ekd{
						font-family: $font-Calibre;
						padding-bottom: $margin-mobile-H*1.5;
						margin: 0;
						@extend .btn-blue-2;
						@media (min-width: $tabletV) { padding: 0px; }
					}
				}
				.clear{clear: both;}			
			}

			div.img{
				width: 100%;
				height: 210px;
				background-size: cover;
				background-position: center center;
				@media (min-width: $tabletV) {
					height: 80vh;
				}
			}
		}
		article.view-more {
			background-color: white;
    		text-align: center;
    		clear: both;
			p.btn-ekd{
				font-family: $font-Calibre;
				padding: $margin-mobile-H*1.5 0;
				margin: 0;
				@extend .btn-blue;
				@media (min-width: $tabletV) { padding: 50px 0px; }
			}
		}
	}
}