<div header-changer  value="{{slug | htmlToPlaintext}}">
<section id="case-study-section-1">
	<div full-screen>
		<div ng-style="{'background-image': 'url('+case.img1+')'}">
			<article>
				<p screen-detector value="up" ng-class="case.img1color">{{case.content}}</p>
				<h2 screen-detector value="up" ng-class="case.img1color">{{case.title}}</h2>
			</article>
		</div>
	</div>
</section>
<section id="case-study-section-2">
	<div screen-detector value="up" class="btn-ekd">
		<p >Want to start a project?</p>
		<a ng-href="contact" class="btn button ajax">
			Contact Us
		</a>
	</div>
	<div class="content">
		<h3 screen-detector value="up">{{case.title2}}</h3>
		<p screen-detector value="up">{{case.content2}}</p>
	</div>
</section>
<section id="case-study-section-3">
	<article>
	<cite screen-detector value="up">« {{case.cite}} »</cite>
	<p screen-detector value="up">— {{case.citename}}</p>
	</article>
</section>
<section id="case-study-section-4">
	<article>
		<div class="project">
			<div ng-if="lastproject.img.indexOf('player.vimeo.com') < 0" class="img" ng-style="{'background-image': 'url('+lastproject.img+')'}"></div>
			<ng-video ng-if="lastproject.img.value != undefined && lastproject.img.value == 'video'" link="{{lastproject.img.src}}" play="screen" loop="true" controls="false" img="{{lastproject.img.img}}"></ng-video>
			<iframe ng-if="lastproject.img.value != undefined && lastproject.img.value == 'iframe'" src="{{lastproject.img.src}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplayekd></iframe>
			<div class="content" ng-class="lastproject.imgcolor">
				<h3 screen-detector value="up"><span>Our latest project for </span><br> {{lastproject.name}}:</h3>			
			</div>
		</div>
		<div></div>
	</article>
	<article class="project-content">
		<div class="content">
			<div class="col-xs-12 col-sm-5 col-lg-3 information">
				<h3 screen-detector value="up">{{lastproject.title}}</h3>
				<h6 screen-detector value="up">{{lastproject.category}}</h6>
				<p screen-detector value="up">{{lastproject.content}}</p>
				<div screen-detector value="up" class="btn-ekd">
					<a ng-href="work/project/{{lastproject.slug}}" class="btn button ajax">
						View project
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-offset-2 col-lg-6 col-lg-offset-4 images">
				<div screen-detector ng-repeat="gif in lastproject.gifs" ng-class="(gif.indexOf('player.vimeo') > 0) ? 'isvideo' : ''">
					<img ng-if="gif.indexOf('player.vimeo.com') < 0"  ng-src="{{gif}}">
					<ng-video ng-if="gif.value != undefined && gif.value == 'video'" link="{{gif.src}}" play="screen" loop="true" controls="false" img="{{gif.img}}"></ng-video>
					<iframe ng-if="gif.value != undefined && gif.value == 'iframe'" src="{{gif.src}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplayekd></iframe>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</article>
</section>
<section id="case-study-section-5">
	<article>
		<h3 screen-detector value="up">{{case.title3}}</h3>
		<p screen-detector value="up">{{case.content3}}</p>
		<div  class="twice-img">
			<!--<img screen-detector ng-src="{{case.img2}}">
			<img screen-detector ng-src="{{case.img3}}">-->
		</div>
	</article>
	<article>
		<h3 screen-detector value="up">{{case.title4}}</h3>
		<p screen-detector value="up">{{case.content4}}</p>
	</article>
</section>

<section id="case-study-section-6">
	<article ng-repeat="project in projects">
		<div class="img-important" ng-show="project.important">
			<img ng-if="project.img.indexOf('player.vimeo.com') < 0"  ng-src="{{project.img}}">
			<ng-video ng-if="project.img.value != undefined && project.img.value == 'video'" link="{{project.img.src}}" play="screen" loop="true" controls="false" img="{{project.img.img}}"></ng-video>
			<iframe ng-if="project.img.value != undefined && project.img.value == 'iframe'" src="{{project.img.src}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplayekd></iframe>
		</div>
		<div class="content">
			<div class="col-xs-12 col-sm-5 col-lg-3 information">
				<h3 screen-detector value="up">{{project.title}}</h3>
				<h6 screen-detector value="up">{{project.category}}</h6>
				<p screen-detector value="up">{{project.content}}</p>
				<div screen-detector value="up" class="btn-ekd" ng-show="project.isPublic">
					<a ng-href="work/project/{{project.slug}}" class="btn button ajax">
						View project
					</a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-sm-offset-1 col-lg-5 col-lg-offset-4 images">
				<div screen-detector ng-repeat="gif in project.imgs" ng-class="(gif.indexOf('player.vimeo') > 0) ? 'isvideo' : ''">
					<img ng-if="gif.indexOf('player.vimeo.com') < 0"  ng-src="{{gif}}">
					<ng-video ng-if="gif.value != undefined && gif.value == 'video'" link="{{gif.src}}" play="screen" loop="true" controls="false" img="{{gif.img}}"></ng-video>
					<iframe ng-if="gif.value != undefined && gif.value == 'iframe'" src="{{gif.src}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplayekd></iframe>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</article>
	<article class="view-more">
		<p  screen-detector value="up" class="btn-ekd">
			<a   ng-href="work" class="btn button ajax">
				View all projects
				<span></span>
				<span class="mobile"></span>
				<span></span>
			</a>
		</p>
	</article>
</section>
</div>
<footer ng-footer case="{{otherslug.text | htmlToPlaintext }}" casehref="{{otherslug.src | htmlToPlaintext}}"></footer>