<div header-changer  value="Services">
	<section id="services-section-1">
		<div full-screen>
			<h1>We transform complex <br> information into high <br> quality visual content <br> that informs...</h1>
		</div>
		<article>
			<h2>Titulo</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde pariatur, officia. Enim quidem dolor, ex recusandae dignissimos, quam, aliquam, porro esse nobis eum nesciunt. Pariatur, qui accusantium incidunt quia aut?</p>
			<p class="btn-ekd">
				<a href="" class="btn button ajax">
					Learn More
					<span></span>
					<span class="mobile"></span>
					<span></span>
				</a>
			</p>
		</article>
	</section>
	<section id="services-section-2">
		<article class="row">
			<div class="service col-xs-12 col-sm-6">
				<figure><img src="/assets/img/logo.png"></figure>
				<div>
					<h2>Design</h2>
					<p>Infographics <br> Visual Reports <br>Presentation Design <br>Visual Brand Guidelines</p>
				</div>
			</div>
			<div class="project col-xs-12 col-sm-6" style="background-color: blue;">
				<div class="img" style="background-image: url({{item1.img}});"></div>
				<article>
					<h4>{{item1.title}}</h4>
					<h6>{{item1.subtitle}}</h6>
				</article>
			</div>
		</article>
		<article class="row">
			<div class="service col-xs-12 col-sm-6">
				<figure><img src="/assets/img/logo.png"></figure>
				<div>
					<h2>Animation</h2>
					<p>Motion Graphics <br> Motion Infographics <br> Explainer Videos <br> Tutorials <br> Whiteboard Animations <br> Motion Storytelling</p>
				</div>
			</div>
			<div class="project col-xs-12 col-sm-6" style="background-color: #8DE2C1;">
				<div class="img" style="background-image: url({{item2.img}});"></div>
				<article>
					<h4>{{item1.title}}</h4>
					<h6>{{item1.subtitle}}</h6>
				</article>
			</div>
		</article>
		<article class="row">
			<div class="service col-xs-12 col-sm-6">
				<figure><img src="/assets/img/logo.png"></figure>
				<div>
					<h2>Interactive</h2>
					<p>Data Visualization <br> Interactive Infographics <br> Dashboards <br> HTML5 Presentations <br> Infographic <br> Reports <br> Presentation Builders <br> Data Storytelling</p>
				</div>
			</div>
			<div class="project col-xs-12 col-sm-6" style="background-color: #E0A335;">
				<div class="img" style="background-image: url({{item3.img}});"></div>
				<article>
					<h4>{{item1.title}}</h4>
					<h6>{{item1.subtitle}}</h6>
				</article>
			</div>
		</article>
	</section>
</div>
<footer ng-footer></footer>
