<section id="about-section-1" header-changer  value="About">
	<div class='title'>
		<h1>We are <br> information <br class="mobile">designers<br class="mobile">…</h1>
	</div>		
	<div id="video-about" full-screen>
	</div>
	<article class="story row">
		<h2 class="col-xs-12 col-sm-6">Our story</h2>
		<p class="col-xs-12 col-sm-6 right-column">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	</article>
	<article class="believe row">
		<h2 class="col-xs-12">What we believe in</h2>
		<p class="col-xs-12 col-sm-6"><span>Quality is our end goal.</span> We believe quality and high added value is what really makes a difference for our clients and what builds long term and successful relationaships</p>
		<p class="col-xs-12 col-sm-6 right-column"><span>Client as partners.</span>  We believe extraordinary relationships bring extraordinary results. Our clients are a key part of the final result of our work, we are partners and only by working with them and not for them, making them one more member of our team and including them in our creative process , we can deliver world class results.</p>
		<p class="col-xs-12 col-sm-6"><span>Added value.</span> With our clients, with the members of our team, as an entrepreuneurship philosophy, trust and constant improvement is the key to overcoming uncertainty and fostering innovation.</p>
		<p class="col-xs-12 col-sm-6 right-column"><span>Long term thinking.</span>  With our clients, with the members of our team, as an entrepreuneurship philosophy, trust and constant improvement is the key to overcoming uncertainty and fostering innovation.</p>
	</article>
	<div id="image-about" full-screen>
	</div>
</section>
<section id="about-section-2" header-changer  value="Our approach">
	<article class="approach row">
		<h2 class="col-xs-12 col-sm-6">Our approach</h2>
		<p class="col-xs-12 col-sm-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
	</article>
	<p class="btn-ekd">
		<a href="" class="btn button ajax">
			View Case Study
			<span></span>
			<span class="mobile"></span>
			<span></span>
		</a>
	</p>
</section>
<footer ng-footer></footer>