<section id="about-section-1" header-changer  value="About">
	<!--<div class='title' screen-detector value="up">
		<h1>We are <br><span>|</span><typed value="information designers,big dreamers,useless without coffee"></typed></h1>
		<typed value="Elkanodata., an information design agency., building our new website., working on great projects., having a good time."></typed>
	</div>-->
	<div id="video-about">
		<iframe src="https://player.vimeo.com/video/168755026?title=0&byline=0&portrait=0&autoplay" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplayekd></iframe>

    		<!--<vimeo vid="168755026" pid="1"></vimeo>-->

	</div>
	<article class="story row">
		<h2 class="col-xs-12 col-sm-5" class='title' screen-detector value="up">Our story</h2>
		<p class="col-xs-12 col-sm-offset-2 col-sm-5 right-column" class='title' screen-detector value="up">We started in 2011 looking to fill a need for a data driven approach to design. It wasn’t long before we received recognition for our work and, what began as an idyllic start-up, transformed into a feasible business and then into the working information design agency that we are today. <br>
		Today, within the constantly evolving context of data and the digital environment, we are continuously excited by the new challenges and new technologies to craft high impact and innovative visual experiences.</p>
	</article>
	<article class="believe row">
		<h2 class="col-xs-12" class='title' screen-detector value="up">What we believe in</h2>
		<p class="col-xs-12 col-sm-5" class='title' screen-detector value="up"><span>Quality is our end goal.</span> We’ve been able to build strong relationships and long-term collaborations with our clients because, for each and every project, our aim is to craft the highest quality end result.</p>
		<p class="col-xs-12 col-sm-offset-2 col-sm-5 right-column" screen-detector value="up"><span>Clients as partners.</span>  Extraordinary relationships help us deliver extraordinary results.<br> That is why we make sure our clients form a key part of each process, making them one more member of our team.  Only by working with them and not for them, we’re able to craft visual narratives that perfectly reflect core messaging.</p>
		<p class="col-xs-12 col-sm-5" screen-detector value="up"><span>Value-added products.</span> We see value in building forward-thinking tools and resources for our clients to create their own data-driven visuals when they want and using their most up-to-date metrics.</p>
		<p class="col-xs-12 col-sm-offset-2 col-sm-5 right-column" screen-detector value="up"><span>Long-term vision.</span> We’re always aiming to build products that last, not only by utilizing future proof technologies, but also by embracing each client’s key messaging with forward-thinking strategy and narratives.</p>
	</article>
	<div id="image-about" full-screen>
	</div>
</section>
<section id="about-section-2" header-changer  value="Our approach">
	<article class="approach row">
		<h2 class="col-xs-12 col-sm-6" screen-detector value="up">The Elkano way</h2>
		<p class="col-xs-12 col-sm-6" screen-detector value="up">Our projects are built around a systematic approach of clearly defined processes that are proven to produce consistently high-quality results. For each project, we have small, dedicated teams that look to collaborate with our clients from beginning to end to create impactful, value-added results.
		<br>Through specialized data-driven design, each project is a journey as our team transforms complex information into visually engaging digital experiences, products and content.
		</p>
	</article>
	<p class="btn-ekd" screen-detector value="up" >
		<a ng-href="/work" class="btn button ajax">
			View all projects
			<span></span>
			<span class="mobile"></span>
			<span></span>
		</a>
	</p>
</section>
<footer ng-footer></footer>