app-contact{
	section#contact-section-1{
		div.title{
			min-height: 480px;
			position: relative;
			color: white;
			background-color: $primary-blue;
			h1{
				position: absolute;
				width: 80%;
				top: 50%;
				margin: auto $margin-mobile-H;
				@include transform (translateY(-50%));
				@media (min-width: $tabletV) { br.mobile{display:none;} }
			}
		}
	}
	section#contact-section-2{
		#message{
			display: none;
		}
		article{
			padding: $margin-mobile-H;
			h2{
				@media (min-width: $tabletV) { margin-top: 0;}
				
			}
			&.row{
				margin-left: 0;
				margin-right: 0;
			}
			div.left-column{
				margin: 20px 0;
				padding: 0;
				@media (min-width: $tabletV) { margin: 0; /*padding-right: $margin-mobile-H;*/}	
				&:hover > a, &:active > a, &:focus > a, a.un-active{
					opacity: 0.2;
				}
				&.all-active{
					a{
						opacity: 1;
						&:hover, &:active, &:focus, &.active{
							opacity: 1;
							color: $secundary-blue;
							////border-top: 1px solid $primary-blue;
							//border-bottom: 1px solid $primary-blue;
							text-decoration: none;
						}
						&:first-child{
							border-bottom: 1px solid transparent;
							&:hover, &:active, &:focus, &.active{
								border-bottom: 1px solid $secundary-blue;
							}
						}
						&:last-child{
							border-top: 1px solid transparent;
							&:hover, &:active, &:focus, &.active{
								border-top: 1px solid $secundary-blue;
							}
						}
					}
				}
				a{
					text-decoration: none;
					color: $secundary-blue;
					display: block;
					padding: 25px 0;
					clear: both;
					border-top: 1px solid $primary-blue;
					border-bottom: 1px solid $primary-blue;
					cursor: pointer;
					@include transition(all $transition_btn_ekd);
					span:last-child{ 
						float: right;
						position: relative;
    					top: 1px;
						//@include transform(rotate(-90deg) scale(1.1) translateX(40%));
						@media (max-width: $tabletV) {
							svg{
								@include transform (rotate(90deg));
							}
	
						}
					}
					&:hover, &:active, &:focus, &.active{
						opacity: 1;
						color: $secundary-blue;
						////border-top: 1px solid $primary-blue;
						//border-bottom: 1px solid $primary-blue;
						text-decoration: none;
					}
					&:first-child{
						border-bottom: 1px solid transparent;
						&:hover, &:active, &:focus, &.active{
							border-bottom: 1px solid $primary-blue;
						}
					}
					&:last-child{
						border-top: 1px solid transparent;
						&:hover, &:active, &:focus, &.active{
							border-top: 1px solid $primary-blue;
						}
					}
				}
				a.active + a{
					border-top: 1px solid transparent !important;
				}
			}
			div.career{
				a:first-child:hover{
					border-bottom: 1px solid transparent !important;
				}
			}
			div.press{
				a.career-a{
					border-bottom: 1px solid transparent !important;
				}
			}
		}
		div.contact-forms{
			padding: 0;
			@media (max-width: $tabletV) {
				margin-top: 40px;
			}
		}
	}
	section#contact-section-3{
		color: white;
		background-color: $primary-blue;
		padding: $margin-mobile-H 0;
		div{
			padding: 0 $margin-mobile-H;
			@media (min-width: $tabletV){
				padding: 0;
			}
		}
		span{
			clear:both;
			display: block;
		}
		figure{
			margin: $margin-mobile-H 0;
			img{
				width: 90px;
			}
		}
	}
}