app-contact{
	section#contact-section-1{
		div{
			position: relative;
			//min-height: 100vh;
			width: 100%;
			background-image : url('/assets/img/contact1-mobile.jpg');
			background-size : cover;
			@media (min-width: $tabletV) {
				background-image : url('/assets/img/contact1.jpg');
			}
			h1{
				position: absolute;
				width: 80%;
				color: white;
				top: 50%;
				margin: auto $margin-mobile-H;
				@include transform (translateY(-50%));
				@media (max-width: $tabletH) { br {display: none} }
				arrow-svg{
					position: absolute;
				    left: 7px;
				    bottom: -100px;
				    @include transform (scale(1.5));
				}
			}
		}
	}
	section#contact-section-2{
		article{
			padding: $margin-mobile-H;
			h2{
				@media (min-width: $tabletV) { margin-top: 0;}
				
			}
			&.row{
				margin-left: 0;
				margin-right: 0;
			}
			div.right-column{
				margin: 20px 0;
				@media (min-width: $tabletV) { margin: 0; padding-left: $margin-mobile-H;}	
				div{
					padding: 25px 0;
					clear: both;
					border-top: 1px solid $primary-blue;
					border-bottom: 1px solid $primary-blue;
					&:first-child{border-bottom: 0px solid $primary-blue;}
					&:last-child{border-top: 0px solid $primary-blue;}
					span:last-child{ float: right;}
				}
			}
		}
	}
}