<section id="contact-section-1" header-changer  value="Contact">
	<div full-screen>
		<h1>Contact.<arrow-svg></arrow-svg>
		</h1>
	</div>
</section>
<section id="contact-section-2" header-changer  value="Enquiries">
	<article class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 left-column">
			<a ng-href="/contact/start-a-project" ng-class="state=='start-a-project' ? 'active' : 'un-active'">
				<span>Become a client</span>
				<span><arrow-svg-un-animated></arrow-svg-un-animated></span> 
			</a>
			<a ng-href="/contact/career" ng-class="state=='career' ? 'active' : 'un-active'">
				<span>Careers</span>
				<span><arrow-svg-un-animated></arrow-svg-un-animated></span> 
			</a>
			<a ng-href="/contact/press" ng-class="state=='press' ? 'active' : 'un-active'">
				<span>Media Enquiries</span>
				<span><arrow-svg-un-animated></arrow-svg-un-animated></span> 
			</a>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 contact-forms" ui-view></div>
	</article>
</section>
<section id="contact-section-3" header-changer  value="Ofﬁces">
</section>
<footer ng-footer show="false"></footer>