<section id="contact-section-1" header-changer  value="Contact">
	<div full-screen>
		<h1>Contact.<arrow-svg></arrow-svg>
		</h1>
	</div>
</section>
<section id="contact-section-2" header-changer  value="Enquiries">
	<article class="row">
		<h2 class="col-xs-12 col-sm-4 col-md-6">Enquiries</h2>
		<div class="col-xs-12 col-sm-8 col-md-6 right-column">
			<div>
				<span>Become a client</span>
				<span>contact@elkanodata.com</span> 
			</div>
			<div>
				<span>Careers</span>
				<span>careers@elkanodata.com</span> 
			</div>
			<div>
				<span>Media Enquiries</span>
				<span>press@elkanodata.com</span> 
			</div>
		</div>
	</article>
</section>
<section id="contact-section-3" header-changer  value="Ofﬁces">

		<a ng-href="contact/start-a-project">link</a>
	<div class="contact-forms" ui-view></div>
</section>
<footer ng-footer></footer>