<form id="contact_form" ng-submit="submitForm()">
	<input id="contact_name" type="text" placeholder="First Name*" ng-model="msg.name" required>
	<input id="contact_last" type="text" placeholder="Last Name*" ng-model="msg.last" required>
	<input id="contact_email" type="text" placeholder="Email*" ng-model="msg.email" required>
	<input id="contact_phone" type="text" placeholder="Phone" ng-model="msg.phone">
	<input id="contact_company" type="text" placeholder="Company or Organization" ng-model="msg.company">
	<!--<div class="input-file resume">
		<span>{{inputfileresume}}</span>
		<input id="contact-file-resume" type="file" ngf-select="" ng-model="picFile" name="file" ngf-accept="'*'" required="" accept="*">
	</div>
	
	<div class="input-file cover">
		<span>{{inputfilecover}}</span>
		<input id="contact-file-cover" type="file" ngf-select="" ng-model="picFile" name="file" ngf-accept="'*'" required="" accept="*">
	</div>
-->
	<input id="contact_portofolio_url" type="text" placeholder="Portfolio URL*" ng-model="msg.portofolio" required>
	<input id="contact_linkedin" type="text" placeholder="LinkedIn Profile" ng-model="msg.linkedin">
	<input id="contact_website" type="text" placeholder="Website" ng-model="msg.website">
	<input id="contact_hear" type="text" placeholder="How did you hear about this job?" ng-model="msg.hear">

	<!--<p>* Campos obligatorios</p>-->
	<button id="contact_button_send">{{btntxt}}</button>
</form>
<div id="message">Thank you for your message. <br><br> We’ll be in touch soon!</div>