$primary-blue : #323F4F; 
$secundary-blue : #34393E;
$header-blue : #334A79;
$grey-f: #F7F7F7;
$grey-0: #D6D7D8;
$grey-form: #9B9B9B;
$time_transition: 750ms;
$transition_spring: $time_transition cubic-bezier(0.455, 0.03, 0.515, 0.955);

$time_btn_ekd: 350ms;
$transition_btn_ekd: $time_btn_ekd cubic-bezier(0.455, 0.03, 0.515, 0.955);

$time_menu_out: .5s;
$time_menu_in: .5s;
$transition_menu_out: width $time_menu_out cubic-bezier(.645,.045,.355,1) 0ms;
$transition_menu_in: width $time_menu_in cubic-bezier(.9,0,.33,1) .2s;

$mobileV : 320px;
$mobileH : 480px;
$tabletV : 768px;
$tabletH : 1024px;
$desktop : 1320px;

$font-Sabon : serif;
$font-Calibre : sans-serif;

$margin-mobile-H : 100% / 12;